= image_tag @post.image.url(:medium)


%h1= @post.company

%p= @post.description


%p
= @post.get_upvotes.size
Likes


= link_to "Like", like_post_path(@post), method: :get


-if current_user
  = link_to "Edit", edit_post_path(@post)
  = link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?"}
  = link_to "Home", root_path
-else
  = link_to "Create Account"
